h1 {
    color: red;
    border: 2px solid green;
}

div{
    border: 3px solid orange;
    margin-bottom: -2rem;
    background-color: lightgreen;
    padding-left:3rem;
    padding-right:3rem;
}

.box1 {
    border:2px dotted blue;
    /* margin:-2rem */
    background-color: lightblue;
   ;
}

p{
    border: 1px solid red;
}